* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.none {
  display: none;
}

.nav-hover {
  padding: 0 20px;
  transition: 0.3s ease;
}

.nav-hover:hover {
  color: #9b59b6;
  font-weight: 600;
}

.icon-carrito {
  width: 50px;
  cursor: pointer;
}
/* Carrusel */

/* card Product */
.container-products {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 5% 10%;
}
.card {
  cursor: pointer;
  height: 420px;
  width: 350px;
  border: 1px solid #f8f5f9;
  margin: 0 0 2rem 0;
  background: rgb(82, 31, 102);
  background: linear-gradient(
    180deg,
    rgba(82, 31, 102, 0.4738270308123249) 5%,
    rgba(210, 193, 228, 0.7931547619047619) 27%,
    rgba(246, 246, 247, 1) 76%
  );
}

.card img {
  transition: 0.3s all;
}

.card:hover img {
  opacity: 0.7;
}

.img-fluid {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.btn-buy {
  background-color: #9b59b6;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
  padding: 8px 15px;
  border-radius: 3px;
}

.card:hover .btn-buy {
  transform: translateY(0);
  opacity: 1;
  color: #e5e7e9;
}

.card-text {
  font-size: 1.1rem;
  color: #5d6d7e;
}

.card:hover .card-text {
  font-weight: 600;
}

//modal
/* .modal-footer:hover .btn-buy {
  color: black;
}

.container-modal {
  display: flex;
  margin-bottom: 30px
}

.img-modal {
  width: 50%;
}

.container-textModal {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 6%;
  width: 50%;
}

.title-modal {
  font-size: 25px;
  font-weight: 500;
}

.price-modal {
  margin-top: -7px;
  font-size: 15px;
  font-weight: 600;
}

.description-modal {
  font-size: 13px;
  font-style: italic;
}

.container-counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #e7e0ef solid;
  border-radius: 5px;
}

.btn-counter {
  border-radius: 5px;
  font-size: 15px;
  padding: 4px 10px;
}

.counter {
  font-size: 15px;
  padding: 4px 10px;
} */

//cart product details

.container-product-details {
  margin-top: 100px;
  background-color: gray;
  width: 100%;
  height: 100vh;
}

.container-modal {
  margin: auto;
  margin-top: 100px;
  -webkit-box-shadow: -5px 13px 52px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 13px 52px -24px rgba(0,0,0,0.75);
  box-shadow: -5px 13px 52px -24px rgba(0,0,0,0.75);
}

.img-modal {
  margin: 20px 0;
}

.text-modal {
  margin: 0 0 0 10px;
}
.title-modal {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.price-modal {
  margin-top: -7px;
  font-size: 20px;
  font-weight: 600;
}

.description-modal {
  font-size: 13px;
  font-style: italic;
}

.container-counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.btn-counter {
  border: 1px black solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 15px;
}

.counter {
  font-size: 15px;
  padding: 4px 10px;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-btn > .btn-buy {
  margin: 0px 20px;
}

//FOOTER
.footer {
  background-color: #9b59b6;
  width: 100%;
  height: 10vh;
  margin-top: 5%;
  bottom: 0;
}
